/* ------------------------------------------------------------------------------
	Typography
	@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);
-------------------------------------------------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
p {
  font-size: 16px;
  color: #6c7279;
  margin: 0 0 1em 0;
}
h1 {
  font-size: 65px;
  color: #2d3033;
}
h2 {
  font-size: 40px;
  color: #2d3033;
}
h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
}
h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
}
h5 {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
}
.btn {
  background-color: #333;
  margin: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0px;
  padding: 3%;
  display: inline-block;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background-color: #000;
  color: #fff;
}
.btn-large {
  padding: 15px 40px;
}
.topspace {
  margin-top: 10%;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
/*color: #e84545;*/
  color: #000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover,
a:focus {
  color: #0085a1;
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif, "Microsoft YaHei";
  font-size: 15px;
  color: #585858;
  overflow-x: hidden;
  font-weight: 300;
  line-height: 1.75;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.section {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.extra-padding {
  margin: 60px 0 0 100px;
}
/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header .header-content {
  margin: 0 auto;
  padding: 60px 10%;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}
#header .logo {
  float: left;
}
#header .logo img.logo {
  width: 40px;
  height: auto;
}
#header.fixed {
  background-color: #fff;
/*box-shadow:0 40px 100px rgba(0,0,0,.2);*/
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #fff;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 10%;
}
#header.fixed .nav-toggle {
  top: 18px;
}
#header hr {
  top: 1.5em;
  margin-bottom: 3em;
  border-bottom-color: rgba(192,192,192,0.35);
  box-shadow: inset 0 1px 0 0 rgba(192,192,192,0.35);
}
#header hr:before,
#header hr:after {
  background: rgba(192,192,192,0.35);
}
#header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: absolute;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#header .navbar-brand {
  color: #777;
  font-weight: 800;
}
#header .navbar-toggler {
  color: #777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  padding: 13px;
}
#header .navbar-nav > li.nav-item > a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 992px) {
  #header {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  #header .navbar-brand {
    color: #fff;
    padding: 20px;
  }
  #header .navbar-brand:hover,
  #header .navbar-brand:focus {
    color: rgba(255,255,255,0.8);
  }
  #header .navbar-nav > li.nav-item > a {
    color: #fff;
    padding: 20px;
  }
  #header .navbar-nav > li.nav-item > a:hover,
  #header .navbar-nav > li.nav-item > a:focus {
    color: rgba(255,255,255,0.8);
  }
}
@media only screen and (min-width: 1170px) {
  #header {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
/* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #header.is-fixed {
/* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -87px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #fff;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
  }
  #header.is-fixed .navbar-brand {
    color: #333;
  }
  #header.is-fixed .navbar-brand:hover,
  #header.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  #header.is-fixed .navbar-nav > li.nav-item > a {
    color: #333;
  }
  #header.is-fixed .navbar-nav > li.nav-item > a:hover,
  #header.is-fixed .navbar-nav > li.nav-item > a:focus {
    color: #0085a1;
  }
  #header.is-visible {
/* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.navigation {
  float: right;
}
.navigation li {
  display: inline-block;
}
.navigation,
.navigation a {
  color: #000;
  font-size: 16px;
  margin-left: 40px;
  letter-spacing: -1px;
}
.navigation a:hover,
.navigation a.active {
  color: #000;
}
.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-toggle:before,
.nav-toggle:after {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.nav-toggle:before {
  background-color: #333;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-toggle:after {
  background-color: #000;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.nav-toggle span {
  background-color: #fff;
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before,
.nav-toggle span:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-toggle.close-nav span {
  background-color: rgba(255,255,255,0);
}
.nav-toggle.close-nav span:before,
.nav-toggle.close-nav span:after {
  background-color: #fff;
}
.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	 Hero content
-------------------------------------------------------------------------------*/
.hero {
  margin-top: 10%;
}
.hero h1 {
  font-size: 48px;
  text-transform: uppercase;
}
.hero h4 {
  font-weight: 400;
}
.hero p {
  padding-top: 20px;
}
/* ------------------------------------------------------------------------------
	 article content
-------------------------------------------------------------------------------*/
.box {
  background: #fff;
  border-bottom: solid 1px #ccc;
}
.box .image.featured {
  position: relative;
  width: auto;
}
.article {
  margin-top: 16%;
}
.article-inner {
  overflow: hidden;
}
.article-header,
.article-meta {
  text-align: center;
}
.article-meta {
  font-family: "Work Sans", Arial, sans-serif;
  margin-left: 2px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #b3b3b3;
  margin-bottom: 10px;
  font-weight: 100;
  letter-spacing: 0.05em;
}
.article-meta .article-tag-list {
  list-style: none;
  display: inline-block;
}
.article-tag-list-item {
  color: #b3b3b3 !important;
  list-style: none;
  display: inline-block;
}
.article p {
  font-size: 18px;
  line-height: 1.75;
  color: #585858;
}
.article li {
  padding-left: 0.5em;
  list-style: disc;
  font-size: 18px;
  line-height: 1.75;
  color: #585858;
}
.article ul {
  list-style: disc;
  margin: 0 0 1em 0;
}
em,
i {
  font-style: italic;
}
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}
.article-title {
  font-size: 35px;
}
.article-entry {
  margin-top: 40px;
}
.article-entry h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.work-detail img {
  width: 100%;
  text-align: center;
  margin: 5% 0 5% 0;
}
.work-detail a {
  color: #000;
}
.article-nav-caption {
  font-weight: 500;
}
#article-nav {
  margin: 20px 0;
}
#article-nav-newer {
  float: left;
  text-align: right;
  padding-right: 20px;
}
#article-nav-older {
  float: right;
  text-align: left;
  padding-left: 20px;
}
.article-nav-link-wrap {
  background-color: #333;
  margin: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0px;
  padding: 15px 10px;
  display: inline-block;
  text-transform: uppercase;
}
.article-nav-link-wrap:hover,
.article-nav-link-wrap:focus {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
blockquote {
  border-left: solid 4px #c9c9c9;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}
code {
  background: rgba(144,144,144,0.075);
  border-radius: 4px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
blockquote footer {
  font-size: 16px;
}
.article-tag-list-link {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160,160,160,0.65);
  color: inherit;
  text-decoration: none;
}
.post-preview > a {
  color: #333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
/* ------------------------------------------------------------------------------
	 Achieves
-------------------------------------------------------------------------------*/
.archives-wrap {
  margin-top: 10%;
}
.archive-article-header {
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.archive-year {
  text-align: center;
  font-weight: normal;
  color: #a5a5a5;
  font-size: 20px;
  transition: color 0.4s;
}
.archive-article-header .archive-article-date {
  font-size: 17px;
  color: #999;
  width: 85px;
  font-weight: 300;
  line-height: 24px;
}
.archive-article-header a {
  cursor: pointer;
  text-decoration: none;
}
.archive-article-header h1 {
  line-height: 24px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;
  color: #101010;
  font-size: 18px;
  font-weight: 300;
  transition: color 0.4s;
}
.archive-article-title {
  color: #101010;
}
.archive-article-date:focus,
.archive-article-date:hover {
  text-decoration: none;
}
.archive-article-title:focus,
.archive-article-title:hover {
  color: #333;
  text-decoration: underline;
}
.page-nav {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.page-nav span.current {
  color: #333;
  background: none;
  font-weight: bold;
}
.page-nav .page-number {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
  color: #000;
}
.post-title {
  margin: 10px 0 20px;
}
.post-title a {
  font-size: 2.5rem;
  line-height: 1.15;
  color: #333;
}
.post-article {
  margin: 0 0 60px 0;
  transition-duration: 0.3s;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.post-time {
  color: #666;
  font-size: 16px;
}
/* ------------------------------------------------------------------------------
	 Portfolio
-------------------------------------------------------------------------------*/
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 20px;
  padding: 0 10px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(58,54,54,0.9);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
  margin: 0;
  color: #e9eaed;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 10px 0;
  color: #e9eaed;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#portfolio * {
  z-index: 2;
}
/* ------------------------------------------------------------------------------
	 Service
-------------------------------------------------------------------------------*/
.service {
  margin-bottom: 50px;
}
.service h4 {
  font-size: 19px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
.service-content {
  margin-top: 30px;
}
.service .icon {
  color: #a1a4a8;
  font-size: 48px;
}
.service-content h5 {
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
  text-align: left;
  background-color: #333;
  padding: 50px 40px 20px;
}
.footer h5 {
  color: #999;
  margin: 0 0 2px;
  padding: 2px 0;
}
.footer p {
  color: #c8c8c8;
}
.footer a {
  border-bottom: 1px dotted #fff;
  color: #fff;
}
.footer a:hover {
  text-decoration: none;
  color: #999;
}
.footer .fa-heart {
  color: #e84545;
  margin: 0 2px;
}
.footer .follow-me-icons a {
  font-size: 18px;
  color: #ccc;
}
.footer .follow-me-icons a:hover {
  color: #fff;
}
.footer i.span {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: #ff5252;
}
.social-links {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.social-links li {
  display: inline-block;
  margin: 5px;
}
.social-links a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 35px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  color: rgba(255,255,255,0.2);
}
.social-links a:hover {
  border: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.8);
}
/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */
.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}
.scroll-up a {
  background-color: rgba(135,135,135,0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}
.scroll-up a:hover,
.scroll-up a:active {
  background-color: rgba(235,235,235,0.8);
  color: #e7746f;
}
/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;
}
.scroll-down span {
  position: relative;
  color: #fff;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@-webkit-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#status {
  background-image: url("./images/preloader.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}
@-moz-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@-webkit-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@-o-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
