<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="col-md-6 left">
      <h5>大道至简 知易行难</h5>
      <p class="follow-me-icons">
        <a href=""><i class="fa fa-twitter fa-2"></i></a>
        <a href=""><i class="fa fa-dribbble fa-2"></i></a>
        <a href=""><i class="fa fa-github fa-2"></i></a>
        <a href=""><i class="fa fa-facebook fa-2"></i></a>
      </p>
    </div>
    <div class="col-md-6 right">
      <p>© 2018 Gifur - Power by <a href="https://github.com/gifur/" target="_blank" title="Github">Github</a><br>
        <a href="http://www.materialchains.com/" title="备案证书" target="_blank">粤ICP备17151675号</a></p>
    </div>
  </div>
</footer>
<!-- footer section -->
