<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="col-md-4 left">
      <h5>大道至简 知易行难</h5>
      <p>文档撰写遵循 <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> 协议</p>
    </div>
    <div class="col-md-4">
      <p class="follow-me-icons">
        <a href="https://github.com/gifur/" title="Github" target="_blank"><i class="fa fa-github fa-2"></i></a>
      </p>
    </div>
    <div class="col-md-4 right">
      <p> <i class="fa fa-heart pulse"></i> Power by <a href="https://hexo.io/" target="_blank" title="Hexo">Hexo</a> & <a href="https://github.com/gifur/" target="_blank" title="Github">Github</a><br>
        © 2018 Gifur.material-chains <a href="http://www.materialchains.com/" title="备案证书" target="_blank">粤ICP备17151675号</a></p>
    </div>
  </div>
</footer>
<!-- footer section -->
